<%- include('includes/head.ejs') %>
    <style>

    </style>
    <h1 id="logo" class="center">Asignar ticket a usuario</h1>

    <form action="" method="POST" id="form" onsubmit="return validar()">
        <div class="centers">
            <select class="selectpicker" data-style="btn-info" name="asignacion" id="asignacion">
                    <optgroup label="Select Table">
                        <option value="nulo" disabled selected>Elige tu opción</option>
                        <% for (let user of users) { %>
                        <% let n=(user.ID_usuario)+ ". "+(user.nombre)+" "+(user.apellido_paterno)+" "+(user.apellido_materno) %>
                        <option name="<%=user.ID_usuario%>" value="<%=user.ID_usuario%>"><%=n%></option>
                        <% } %>
                    </optgroup>
                </select>
                </div>
                <br></br>
                <div class="right">
                    <button id="logo" type="submit" class="waves-effect waves-light btn">Guardar</button>
                    <a id="logo" href="/buscar_usuario/busqueda" class="waves-effect waves-light btn">Cancelar</a>
                </div>
                <br></br>
        </form>

        <script>
            function validar() {
                var asignacion = document.getElementById("asignacion").value;
                if (asignacion=="nulo"){
                    alert("Selecciona una opción válida");
                    return false;
                }
                else if(asignacion!="nulo"){
                    return true;    
                }
            }
        </script>
        <%- include('includes/footer.ejs') %>
            
