<%- include('includes/head.ejs') %>
	<ul id="dropdown5" class="dropdown-content">
		<li><a href="#!">Op1</a></li>
		<li><a href="#!">Op2</a></li>
		<li><a href="#!">0p3</a></li>
	</ul>
	<nav class="grey darken-3">
		<div class="nav-wrapper">
			<ul class="right hide-on-med-and-down">
				 
				<li><a class="dropdown-trigger grey darken-3" href="#!" data-target="dropdown5">Rol<i class="material-icons right">arrow_drop_down</i></a></li>
				<div class=" right input-field col s6">
					<input id="ID" type="text" class="validate">
					<label for="ID">ID</label>
				</div>
				<div class="right input-field col s6">
					<input id="first_name" type="text" class="validate">
					<label for="first_name">Nombre</label>
				</div>
				<div class="right input-field col s6">
					<input id="second_name" type="text" class="validate">
					<label for="second_name">Apellido Paterno</label>
				</div>
				<div class="right input-field col s6">
					<input  id="third_name" type="text" class="validate">
					<label for="third_name">Apellido Materno</label>
				</div>
				<div class="right input-field col s6">
					<input  id="third_name" type="text" class="validate">
					<label for="third_name">Correo</label>
				</div>
			</ul>
		</div>
	</nav>




	<div>

	<table class="striped responsive-table centered" >
		<thead>
			<tr>
				<th>ID</th><th>Nombre</th><th>Apellido paterno</th><th>Apellido materno</th><th>correo</th><th>Rol</th>
			</tr>
		</thead>
		<% for (let usuario of model_login) { %>
		<tr>
			<td><%= usuario.ID_usuario%></td><td><%= usuario.nombre%></td><td><%= usuario.apellido_paterno%></td><td><%= usuario.apellido_materno%></td><td><%= usuario.correo %></td><td><%= usuario.ID_rol %></td>
		</tr>
		<% } %>
		
	</table>
<%- include('includes/foot.ejs') %>
