<%- include('includes/head.ejs') %>
    <!DOCTYPE html>
    <html>

    <head>
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection" />
        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>

    <body>
        <style type="text/css">
            #global {
                height: 400px;
                width: 700px;
                border: 1px solid #ddd;
                background: #f1f1f1;
                overflow-y: scroll;
            }
            
            #mensajes {
                height: auto;
            }
            
            #titulo {
                border: 1px solid rgba(34, 35, 56, 0.267);
                color: rgb(75, 24, 176);
            }
        </style>
        <div id="global">
            <div id="mensajes">
                <h5 id="titulo">Tickets Activos</h5>
                <div class="container left">
                    <ul class="collection truncate left">
                        <!-- aqui se hace un for cada ticket -->
                        <% var i = 0; %>
                            <% for (let ticket of ticketss) { %>
                                <li class="collection-item">
                                    <div class="col s12 m2">
                                        <p class="z-depth-4">
                                            <div class="card">
                                                <div class="card-content">
                                                    <p id="titulo">
                                                        <%= ticket.titulo %>
                                                    </p>
                                                </div>
                                                <div class="card-tabs">
                                                    <ul class="tabs tabs-fixed-width">
                                                        <li class="tab"><a class="active" href="#test<%= i+1%>">Descripcion</a></li>
                                                        <li class="tab"><a href="#test<%= i+2%>">Preguntas/Respuestas</a></li>
                                                        <li class="tab"><a href="#test<%= i+3%>">Comentarios</a></li>
                                                    </ul>
                                                </div>
                                                <div class="card-content">
                                                    <div id="test<%= i+1%>">
                                                        <%= ticket.descripcion %>
                                                    </div>
                                                    <div id="test<%= i+2%>">
                                                        <%= ticket.ID_ticket %>
                                                    </div>
                                                    <div id="test<%= i+3%>">
                                                        <%= ticket.comentarios_solucion %>
                                                    </div>
                                                </div>
                                            </div>
                                        </p>

                                </li>
                                <% i=i+3 %>
                                    <% } %>
                    </ul>
                    </div>
                </div>
            </div>
        </div>

        <!--JavaScript at end of body for optimized loading-->
        <script type="text/javascript" src="js/materialize.min.js"></script>
    </body>

    </html>
    <%- include('includes/footer.ejs') %>